body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 210px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:80%
}
div a{
    text-decoration: none;
    color: white;
   background-image: linear-gradient(orange,tomato);
    padding:4px 26px ;
    font-size: 25px;
    border-radius: 4px;
    font-weight: 600;
    
}
div a:hover{
    background-image: linear-gradient(blue,violet);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.dream-bg p{
    width: 70%;
}
p{
    text-align: justify;
}
.senior-developer,.junior-developer{
    text-align: center;
    background-color: rgb(247, 199, 199);
    padding:25px;
    box-shadow: 5px 10px #888888;
}